<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="en"
	  th:with="title=${'Chat'}">

<th:block th:replace="fragments/head" />

<!--suppress JSUnresolvedLibraryURL -->
<script type="application/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script type="application/javascript" src="js/types.js"></script>
<script type="application/javascript" src="js/api.js"></script>
<script type="application/javascript" src="js/chat.js"></script>

<body>
	<div th:replace="fragments/header"></div>

	<main>
		<div class="screen-wrapper">
			<div class="screen-wrapper__screen" id="management-screen">
				Chatty-chit-chat
				<p>Logged in as: <span class="state-info__data" sec:authentication="name"></span></p>
				<p>Status: <span class="state-info__data" id="status-lbl"></span></p>

				<h3>Friends</h3>
				<table>
					<tbody id="friends-tbl">
					</tbody>
				</table>

				<button id="change-status-btn">Change status</button>
				<button id="add-friend-btn">Add friend</button>

				<div class="form-panel form-panel--hidden" id="change-status-panel">
					<form action="" id="status-form">
						<div class="form-example">
							<label for="status-txt">New status</label>
							<input type="text" name="status" id="status-txt" required>
						</div>
						<div class="form-example">
							<button type="submit">Change</button>
						</div>
					</form>
				</div>

				<div class="form-panel form-panel--hidden" id="add-friend-panel">
					<form action="" id="friend-form">
						<div class="form-example">
							<label for="friend-txt">Friend username</label>
							<input type="text" name="status" id="friend-txt" required>
						</div>
						<div class="form-example">
							<button type="submit">Add</button>
						</div>
					</form>
				</div>
			</div>
			<div class="screen-wrapper__screen screen-wrapper__screen--hidden screen-wrapper__screen--l1" id="chat-screen">
				<button id="chat-back-btn">&lt; Back to friends list</button>
				<button id="chat-search-btn">Search&gt;</button>
				<ul class="message-list" id="message-list"></ul>
				<form action="" id="message-form">
					<div class="form-example">
						<label for="message-txt">Message</label>
						<input type="text" name="status" id="message-txt" required>
					</div>
					<div class="form-example">
						<button type="submit">Send</button>
					</div>
				</form>
			</div>
			<div class="screen-wrapper__screen screen-wrapper__screen--hidden screen-wrapper__screen--l2" id="search-chat-screen">
				<button id="search-back-btn">&lt; Back to chat</button>
				<p>Search for messages containing the exact search term</p>
				<form action="" id="search-message-form">
					<div class="form-example">
						<label for="search-message-txt">Search term</label>
						<input type="text" name="status" id="search-message-txt" required>
					</div>
					<div class="form-example">
						<button type="submit">Search</button>
					</div>
				</form>
				<ul class="search-message-list" id="search-message-list"></ul>
			</div>
		</div>
	</main>

	<th:block th:replace="fragments/footer" />
</body>

</html>
